body {
    background-image: url('BG.png');
    font-family: Georgia;
}   
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
div {
    border: 1px solid green;
    overflow: auto;
    box-sizing: border-box;
}
div::-webkit-scrollbar {
    display: none;
}
.topmenu {
    z-index: 100;
    text-align: center;
    width: 20%;
    float: left;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    /*margin-right:1%;
    margin-left:1%;*/
    margin-top:1.8%;
    height: 100%;
    text-decoration: none;
    color:white;
    font-family:Verdana;
    font-size: 16px;
    vertical-align: text-top;
}
.topmenu:hover {
    width: 22%;
    background-image: linear-gradient(rgba(255, 0, 0, 0), #00ffdd);
    box-shadow: 7.5px 7.5px 4px #0000006c;
    /*margin-right:0.5%;
    margin-left:0.5%;*/
    margin-top:1.4%;
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px 7px black;
}
.topmenu:active {
    width: 22%;
    box-shadow: 7.5px 7.5px 4px #0000006c;
    /*margin-right:0.5%;
    margin-left:0.5%;*/
    margin-top:1.4%;
    text-decoration: none;
    color:white;
    text-shadow: 2px 2px 7px black;
}
#middle-box {
    height:100%;
    margin:auto;
    margin-left:20%;
    width: 40%;
}
#left-tall {
    width: 19.5%;
    float: left;
    margin-right: 0.5%;
    background-image: url('tall.png')
}
#middle-tall {
    width:59%;
    float:left;
    margin-left:0.5%;
    margin-right:0.5%;
}
#right-tall {
    width: 19.5%;
    float: left;
    margin-left: 0.5%;
    background-image: url('tall.png')
}
.tall {
    border-radius: 10px;
    height: 86%;
}
#overbox {
    height: 7%;
    margin-left: 0%;
    margin-right: 0%;
    box-shadow: 7.5px 7.5px 4px #0000006c;
    background-image: url('https://wallpapercave.com/wp/wp6422933.jpg');
    margin-bottom: 0.7%;
    border-radius: 10px;
}
#background-overlay {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 255, 255, 0.301));
    height:100%;
    width:100%;
}