@font-face{
    font-family: "link";
    src: url("../fonts/blinker-extralight.ttf") format("truetype")
}


html, body{

    border:0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%

}

div > div, div > a, a > div{
    box-sizing: border-box;
    border:  0px solid red;
}
body{
    
    background-image: url("../img/rust-03.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
}


#header-container{
    
    font-family: link;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    margin:0;
    width:100vw;
    height:8vh;
    
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.257)

}



#logo-container{

    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:4.5%;
    display:flex;
    align-items: center;
    justify-content: center;

}
#logo-container:hover #img-logo{
    
    transform:scale(1.2);
    filter: drop-shadow(0.4vw 0.4vw 0.4vw black);

}

#img-logo{
    transition:all .3s;
    height:60%;


}

.header-link{
    text-decoration: none;
    
}

.header-item{
    box-sizing: border-box;
    color:#faebd7;
    height:8vh;
    padding:0 1.5vw 0 1.5vw;
    margin:0% 0% 0% 0%;
    text-decoration: none;
    display: flex;
    align-items: center;

}
.header-item:hover{

    background-color:rgba(0, 0, 0, 0.280)

}


#footer-container{
    box-sizing: border-box;
    

    height:7vh;
    width:100vw;

    position: absolute;
    top:93vh;
    background-color:rgba(0, 0, 0, 0.257);
    display:flex;
    align-items: center;
    justify-content: center;

    

}
.footer-item{
    color:#faebd7;
    font-family: link;
    height:100%;
    display:flex;
    align-items: center;
    padding:0 1% 0 1%;
}

.footer-item:hover{
    background-color:rgba(0, 0, 0, 0.280);
}