@font-face{
    font-family: "link";
    src: url("../fonts/blinker-extralight.ttf") format("truetype")
}

div > div, div > a, a > div{
    box-sizing: border-box;
    border:  0px solid lightblue;
}
a{
    text-decoration: none;
}


html, body{

    border:0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%

}
body{
    
    background-image: url("../img/rust-03.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
}


#header-container{
    float:left;
    font-family: link;
    font-size: larger;
    font-weight: bold;
    position: absolute;
    
    margin:0;
    width:100vw;
    height:10vh;
    
    display:flex;
    align-items: center;
    justify-content:flex-end;
    background-color:rgba(0, 0, 0, 0.257)

}


#sidebar-container{
    box-sizing: border-box;
    
    width: 20vw;
    height: 79vh;
    position: absolute;
    top: 12vh;
    background-color:rgba(0, 0, 0, 0.257)
}
#sidebar{
    box-sizing: border-box;
    margin: 4% 4% 4% 4%;
    height:96%;
    color:#faebd7;
    font-family: link;
}
#onlyshow-header{
    font-weight: bolder;
    text-align: center;
}
#official-input-container{
    line-height: 220%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-left:0%;
    width:100%;
}
#online-input-container{
    line-height: 220%; 
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-left:0%;
    width:100%;
}

#sortby-header{
    font-weight: bolder;
    text-align: center;
}
#rank-input-container{
    line-height: 220%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-left:0%;
    width:100%;
}
#pop-input-container{
    line-height: 220%; 
    display: flex;
    align-items: center;
    justify-content:flex-end;
    padding-left:0%;
    width:100%;
}




#feed-container{
    box-sizing: border-box;
    
    height:79vh;
    width:78vw;
    position: absolute;
    top:12vh;
    right:0;
    background-color:rgba(0, 0, 0, 0.257);
    overflow-x: hidden;
    overflow-y: auto;
    

}
#feed-container::-webkit-scrollbar{
    width: 0.78vw;
}
#feed-container::-webkit-scrollbar-thumb{
    
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgba(46, 240, 204, 0.8)),color-stop(0.72, rgba(46, 240, 204, 0.6)), color-stop(0.86, rgba(46, 240, 204, 0.4)));
}
#NewsFeedContainer::-webkit-scrollbar-track{
    
}



#feed{
    box-sizing: border-box;
    margin:2% 0% 2% 2%;
    min-height: 30%;
    max-width: 100%;
    height:200%;
    font-family: link;
    color:#faebd7;
    line-height: 170%;
    

}

.server-container{
    max-width: 100%;
    width:100%;
    box-sizing: border-box;
    height:fit-content;
}
.server-title{
    font-size:x-large;
    font-weight: bolder;
}
.description{
    
    padding-left:0%;
}
.column{
    padding-left:0%;
    text-align: right;
    
    width:12%;
    font-weight: bolder;
    position: absolute;
    
}

.rank-content{
    width:fit-content;
    position: relative;
    left:13%;
}
.population-content{
    width:fit-content;
    position: relative;
    left:13%;
}
.ip-content{
    width:fit-content;
    position: relative;
    left:13%;
}
.status-content{
    width:fit-content;
    position: relative;
    left:13%;
}
.official-content{
    width:fit-content;
    position: relative;
    left:13%;
}
.uptime-content{
    width:fit-content;
    position: relative;
    left:13%;
}




#footer-container{
    box-sizing: border-box;
    

    height:7vh;
    width:100vw;

    position: absolute;
    top:93vh;
    background-color:rgba(0, 0, 0, 0.257)
}


.header-item{
    box-sizing: border-box;
    color:#faebd7;
    
    margin:0 9% 0 0;
    text-decoration: none;
    width:fit-content;
    
    display:flex;
    align-items: center;
    justify-content:center;

}

.header-link{
    text-decoration: none;
    
}



#logo-container{

    position: absolute;
    left:0;
    top:0;
    height:100%;
    width:4.5%;
    display:flex;
    align-items: center;
    justify-content: center;

}
#logo-container:hover #img-logo{
    
    transform:scale(1.2);
    filter: drop-shadow(0.4vw 0.4vw 0.4vw black);

}

#img-logo{
    transition:all .3s;
    height:60%;

}
#home-item{
    color:#faebd7;
    position: absolute;
    height:10vh;
    width:fit-content;
    padding:0 1.5% 0 1.5%;
    left:5.5%;

    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
}
#home-item:hover{
    background-color:rgba(0, 0, 0, 0.280)
}

#searchbar-container{
    padding:3vh 1vw 2.3vh 0.5vw;
    position:absolute;
    left:13%;
    width:25%;
}
#searchbar{
    transition: width 0.4s ease-in-out;
    border-width: 0px;
    border-style: none;
    border-color: none;
    border-image: none;

    color:#faebd7;
    width:33%;
    padding:0 0 0.5vh 0;
    background-color:rgba(255, 0, 0, 0);
    outline: none;

    border-bottom: 2px solid #faebd7;
    font-family: link;
    font-size: larger;





    writing-mode: horizontal-tb !important;

    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height:100%;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
}
#searchbar:focus{
    width:100%;
    
}


.header-item-item{
    height:10vh;
    border: 0px solid lightblue;
    padding:3vh 1.5vw 3vh 1.5vw;
    
}
.header-item-item:hover{

    background-color:rgba(0, 0, 0, 0.280)

}