body {
    height: 100%;
    background: repeating-radial-gradient(
        45deg,
        #ff22ff,
        #ff22ff 20px,
        #a9cbd9 20px,
        #a9cbd9 40px
    ) ;
}
html {
    height: 100%;
}